.experience_section {
    width: 47.5%;
    margin: 7.5vh auto 0;
    text-align: center;
    padding-top: 15vh;
    .heading {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        h6 {
            font-size: 2rem;
            font-family: "Instrument Serif", serif;
            font-weight: 400;
            font-style: italic;
            span {
                font-style: normal;
            }
        }
    }
    main {
        display: flex;
        flex-direction: column;
        //background-image: url('/icon2.jpg');
        background-position: center;
        background-size: cover;
        .job_position {
            overflow: hidden;
            margin: 0.25rem 0;
            padding: 0.75rem 0.5rem 1.25rem;
            border-bottom: 1px solid rgb(185, 185, 185);
            //transition: .25s ease-in-out;
            &:hover {
                border-bottom-color: rgb(255, 75, 110);
            }
            .image_wrapper {
                transition: .25s ease-in-out;
                transition-delay: 1.25s;
                width: 25%;
                img {
                    object-fit: cover;
                    width: auto;
                    height: 5vh;
                }
            }
            .icon {
                position: absolute;
                top: 65%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 26px;
                opacity: 1;
                transition: .25s ease-in-out;
                animation: hoverAnimation 2s infinite ease forwards 1.25s;
                transition-delay: 1.25s;
            }
            .info_wrapper {
                transition: .25s ease-in-out;
                transition-delay: 1.25s;
                display: flex;
                align-items: center;
                justify-content: space-between;
                h2 {
                    font-family: "Albert Sans", sans-serif;
                    font-size: 30px;
                    font-weight: 600;
                    letter-spacing: -1.25px;
                }
                .details {
                    text-align: right;
                    .date {
                        font-weight: 600;
                        font-size: 19px;
                        letter-spacing: 0.25px;
                        color: rgb(50, 50, 50);
                        //color: rgb(185, 185, 185);
                    }
                    .place {
                        font-family: "Albert Sans", sans-serif;
                        font-size: 19px;
                        color: rgb(100, 100, 100);
                    }
                }
            }
            .about_job {
                width: 100%;
                text-align: left;
                padding: 0.5rem 0.5rem 0;
                h6 {
                    font-family: "Instrument Serif", serif;
                    font-size: 23px;
                    font-weight: 700;
                    letter-spacing: 1.25px;
                    margin-bottom: 5px;
                    font-style: italic;
                    color: rgb(35, 35, 35);
                    margin: 0.5rem 0;
                }
                li {
                    text-wrap: balance;
                    font-family: "Albert Sans", sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: -0.75px;
                    color: rgb(75, 75, 75);
                }
            }
        }
    }
}

@keyframes hoverAnimation {
    0% {
        transform: translate(-50%, 0);
        opacity: 0.9;
    }
    50% {
        transform: translate(-50%, -8px);
        opacity: 0.6;
    }
    100% {
        transform: translate(-50%, 0);
        opacity: 0.9;
    }
}

@media screen and (max-width: 1500px) {
    .experience_section {
        width: 65%;
    }
}

@media screen and (max-width: 1370px) {
    .experience_section {
        width: 70%;
        main .job_position .about_job li {
            font-size: 16px;
        }
    }
}