header {
    z-index: 9999;
    position: fixed;
    top: 0.75rem;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: row;
    width: 70%;
    min-width: 900px;
    padding: 6px 1.5rem;
    border-radius: 50px;
    border: 2px solid rgba(255, 0, 51, 0.2);
    background-color: rgba(255, 255, 255, 0.425);
    backdrop-filter: blur(5px);
    transition: transform 0.275s ease, opacity 0.275s ease;
    &.hidden {
        opacity: 0; // Można dodać fade-out
        transform: translate(-50%, -150%); // Ukrycie poza ekranem
    }
    &.visible {
        opacity: 1;
        transform: translate(-50%, 0); // Widoczne na swoim miejscu
    }
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        h5 {
            //font-family: 'Instrument Serif', serif;
            //font-family: "Lexend Deca", sans-serif;
            //font-family: "Exo 2", sans-serif;
            font-family: "Merienda", cursive;
            font-size: 1.5rem;
            font-weight: 600;
            letter-spacing: -1.75px;
            background: linear-gradient(to right, rgb(255, 75, 90) 0%, rgb(255, 75, 175) 65%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: flex;
            align-items: center;
            gap: 0.75rem;
            width: 25%;
            user-select: none;
            .icon-image {
                height: 50px;
                width: 50px;
            }
        }
        .links {
            width: 50%;
            display: flex;
            flex-direction: row;
            width: auto;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;
            border-radius: 12px;
            padding: 1rem 1.5rem;
            // border: 2px solid rgba(255, 0, 51, 0.2);
            //background-color: rgba(255, 255, 255, 0.425);
            //backdrop-filter: blur(5px);
            a {
                font-size: 17px;
                font-weight: 500;
                //letter-spacing: -0.25px;
                text-transform: uppercase;
                transition: .185s ease-in-out;
                position: relative;
                cursor: pointer;
                &:first-of-type {
                    color: rgb(255, 75, 110);
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -3px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: 2px;
                    border-radius: 10px;
                    background-color: rgb(255, 75, 110);
                    transition: .19s ease-in-out;
                    &:hover {
                        width: 100%;
                    }
                }
                &:hover {
                    color: rgb(255, 75, 110);
                    &::before {
                        width: 100%;
                    }
                }
            }
        }
        .button {
            width: 25%;
            font-size: 2rem;
            font-family: "Merienda", cursive;
            text-align: right;
        }
    }
}