header {
    z-index: 9999;
    position: fixed;
    top: 2.5vh;
    left: 50%;
    transform: translate(-50%, 0); // Wyśrodkowanie w osi X
    display: flex;
    flex-direction: row;
    width: 45%;
    min-width: 900px;
    border: 2px solid rgba(255, 0, 51, 0.2);
    border-radius: 50px;
    padding: 0rem 1rem;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(7.5px);
    transition: transform 0.275s ease, opacity 0.275s ease;
    &.hidden {
        opacity: 0; // Można dodać fade-out
        transform: translate(-50%, -150%); // Ukrycie poza ekranem
    }
    &.visible {
        opacity: 1;
        transform: translate(-50%, 0); // Widoczne na swoim miejscu
    }
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 0.5rem;
        h5 {
            //font-family: 'SF Pro Display';
            font-size: 1.25rem;
            font-weight: 700;
            letter-spacing: -0.2px;
            background: linear-gradient(to right, rgb(255, 75, 90) 0%, rgb(255, 75, 175) 70%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin: 1rem 0;
            user-select: none;
        }
        .links {
            display: flex;
            flex-direction: row;
            width: 60%;
            justify-content: space-between;
            align-items: center;
            a {
                font-family: "Museo Moderno", sans-serif;
                font-family: "Inter", sans-serif;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: -0.35px;
                text-transform: uppercase;
                border-bottom: 1px solid transparent;
                transition: .175s ease-in-out;
                cursor: pointer;
                // font-family: "Poppins", sans-serif;
                &:hover {
                    color: rgb(255, 75, 110);
                    border-bottom-color: rgb(255, 75, 110);
                }
            }
        }
        button {
            //font-family: "Poppins", sans-serif;
            font-size: 18px;
            color: white;
            outline: none;
            background-color: rgb(255, 75, 110);
            padding: 0.5rem 1rem;
            border: 2px solid rgb(255, 75, 110);
            border-radius: 50px;
            display: flex;
            align-items: center;
            margin: 0.5rem 0;
            cursor: pointer;
            transition: .18s ease-in-out;
            .icon {
                margin-right: 7px;
            }
            &:hover {
                background-color: transparent;
                color: rgb(0, 0, 0);
                border-color: black;
            }
        }
    }
}