header {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    padding: 0.75rem 15% 0.5rem;
    border-radius: 0;
    border: 2px solid rgba(255, 0, 51, 0.2);
    border: none;
    background-color: rgba(255, 225, 225, 0.5);
    backdrop-filter: blur(12.5px);
    display: flex;
    flex-direction: row;
    transition: transform 0.275s ease, opacity 0.275s ease;
    &.hidden {
        opacity: 0; // Można dodać fade-out
        transform: translate(-50%, -150%);
    }
    &.visible {
        opacity: 1;
        transform: translate(-50%, 0);
    }
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        h5 {
            //font-family: 'Instrument Serif', serif;
            //font-family: "Lexend Deca", sans-serif;
            //font-family: "Exo 2", sans-serif;
            font-family: "Merienda", cursive;
            font-size: 1.5rem;
            font-weight: 600;
            letter-spacing: -1.75px;
            background: linear-gradient(to right, rgb(255, 75, 90) 0%, rgb(255, 75, 175) 65%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: flex;
            align-items: center;
            gap: 0.75rem;
            width: 25%;
            user-select: none;
            .icon-image {
                height: 50px;
                width: 50px;
            }
        }
        .links {
            width: 50%;
            width: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 3rem;
            margin-left: 10%;
            // border: 2px solid rgba(255, 0, 51, 0.2);
            //background-color: rgba(255, 255, 255, 0.425);
            //backdrop-filter: blur(5px);
            a {
                font-family: "Lexend Deca", sans-serif;
                //font-family: "Inter", sans-serif;
                font-size: 17px;
                font-weight: 400;
                letter-spacing: -0.25px;
                text-transform: uppercase;
                transition: .185s ease-in-out;
                position: relative;
                cursor: pointer;
                &:first-of-type {
                    color: rgb(255, 75, 110);
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -3px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: 2px;
                    border-radius: 10px;
                    background-color: rgb(255, 75, 110);
                    transition: .19s ease-in-out;
                    &:hover {
                        width: 100%;
                    }
                }
                &:hover {
                    color: rgb(255, 75, 110);
                    &::before {
                        width: 100%;
                    }
                }
            }
        }
        .burger-menu {
            width: 25%;
            visibility: hidden;
        }
    }
}

@media screen and (max-width: 1550px) {
    header {
        padding: 0.75rem 10% 0.5rem;
    }
}

@media screen and (max-width: 1450px) {
    header {
        padding: 0.75rem 7.5% 0.5rem;
        nav .burger-menu {
            width: 20%;
        }
    }
}

@media screen and (max-width: 1370px) {
    header {
        nav .burger-menu {
            width: 15%;
        }
    }
}

@media screen and (max-width: 1285px) {
    header {
        nav .burger-menu {
            width: 10%;
        }
    }
}

@media screen and (max-width: 600px) {
    header {
        padding: 0.75rem 1rem 0.5rem;
        nav {
            h5 {
                width: 100%;
                font-size: 22px;
                .icon-image {
                    width: 45px;
                    height: 45px;
                }
            }
            .links {
                display: none;
            }
            .burger-menu {
                visibility: visible;
                display: flex;
                justify-content: center;
                align-items: center;
                .icon {
                    font-size: 2rem;
                    color: rgb(255, 75, 90);
                    cursor: pointer;
                }
            }
        }
    }
}