.introduction_section {
    width: 100%;
    margin: 0 auto;
    padding: 27.5vh 0 17.5vh;
    // background: linear-gradient(180deg, rgba(255, 86, 120, 0.5) 0%, rgba(255, 75, 110, 0) 100%);
    position: relative;
    overflow: hidden;
    z-index: 100;
    .gradient_left {
        z-index: -1;
        position: absolute;
        top: -100%;
        bottom: -100%;
        left: 0;
        right: 0;
        animation: gradient-morphing 8s ease-in-out infinite alternate, gradient-left-showup 3s ease-in;
        background-image: radial-gradient(circle, rgba(0, 0, 199, 0.5) 0, hsla(0, 0%, 7%, 0) 60%);
        background-image: radial-gradient(circle, rgba(255, 75, 100, 0.3) 0, hsla(0, 0%, 7%, 0) 60%);
        //background-image: radial-gradient(circle, rgba(0, 0, 199, 0.75) 0, hsla(0, 0%, 7%, 0) 60%);
    }
    .gradient_right {
        z-index: -1;
        position: absolute;
        top: -100%;
        bottom: -100%;
        left: 0;
        right: 0;
        animation: gradient-morphing 8s ease-in-out infinite alternate-reverse, gradient-right-showup 3s ease-in;
        background-image: radial-gradient(circle, rgba(255, 75, 175, 0.3) 0, hsla(0, 0%, 7%, 0) 60%);
        //background-image: radial-gradient(circle, rgb(21, 255, 0) 0, hsla(0, 0%, 7%, 0) 60%);
    }
    main {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        article {
            width: 50%;
            width: auto;
            margin: 0 auto;
            h2 {
                font-family: "Merienda", cursive;
                font-size: 4.25rem;
                font-weight: 600;
                letter-spacing: -1.5px;
                color: rgb(15, 15, 15);
                line-height: 1.3;
                .name {
                    font-weight: 700;
                    background: linear-gradient(to right, rgb(255, 75, 100) 0%, rgb(255, 75, 175) 87.5%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    cursor: pointer;
                }
            }
            h3 {
                font-family: "Merienda", cursive;
                font-style: italic;
                font-size: 3.5rem;
                font-weight: 500;
                letter-spacing: -1px;
                color: rgb(25, 25, 25);
                line-height: 1.3;
            }
            .subHeading {
                font-family: "SUSE", sans-serif;
                font-family: "Maven Pro", sans-serif;
                letter-spacing: -0.5px;
                font-size: 22px;
                font-weight: 500;
                width: 70%;
                text-wrap: balance;
                line-height: 1.3;
                color: rgb(115, 115, 115);
                margin: 1.5rem 0;
                background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(90, 90, 90) 60%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .button {
                position: relative;
                overflow: hidden;
                font-size: 18px;
                color: white;
                background-color: rgb(255, 75, 110);
                outline: none;
                border-radius: 50px;
                padding: 12px 18px;
                margin: 0.5rem 0;
                user-select: none;
                cursor: pointer;
                width: fit-content;
                transition: .18s ease-in-out;
                .icon {
                    transition: .18s ease-in-out;
                    margin-right: 7px;
                }
                .primary {
                    display: flex;
                    align-items: center;
                    top: 0;
                    position: relative;
                    transition: top .4s cubic-bezier(.33, 1, .68, 1);
                }
                .secondary {
                    color: #000;
                    position: absolute;
                    top: 110%;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: top .4s cubic-bezier(.33, 1, .68, 1);
                    p {
                        display: flex;
                        align-items: center;
                        position: absolute;
                    }
                    div {
                        background-color: #FFF;
                        width: 60%;
                        height: 100%;
                        border-radius: 50px;
                        transition: all .4s cubic-bezier(.33, 1, .68, 1);
                    }
                }
                &:hover {
                    .primary {
                        top: -40px;
                    }
                    .secondary {
                        top: 0;
                        div {
                            width: 100%;
                            border-radius: 50px;
                        }
                    }
                }
            }
        }
        aside {
            margin: 0 auto;
            width: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .images_wrapper {
                position: relative;
                //margin-left: 5.5vw;
                &::before,
                &::after {
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    rotate: -6deg;
                    background-color: #e1c7ff;
                    opacity: 0.5;
                    transform-origin: top left;
                    height: 500px;
                    width: 500px;
                    border-radius: 40px;
                    z-index: 1;
                }
                &::after {
                    transform: translate(-50%, -50%);
                    rotate: 4deg;
                    background-color: #d6b3ff;
                    height: 500px;
                    width: 475px;
                    z-index: 0;
                }
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate(-50%, -50%);
                    object-fit: cover;
                    border-radius: 30px;
                    height: 30rem;
                    width: auto;
                    aspect-ratio: 1/1.4;
                    //border: 1px solid rgba(255, 255, 255, 0.3);
                    &.image_1 {
                        transform: translate(-50%, -50%);
                        rotate: 3deg;
                        z-index: 40;
                        transform-origin: top left;
                        transition: .25s ease-in;
                        opacity: 0;
                        //border-radius: 100% 0% 70% 30% / 29% 62% 38% 71%;
                        &.zoom {
                            scale: 1.15;
                        }
                        &.show {
                            opacity: 1;
                        }
                    }
                    &.image_2 {
                        transform: translate(-45%, -55%);
                        rotate: 8deg;
                        z-index: 30;
                        opacity: 0;
                        transition: .2s ease-in;
                        &.show {
                            opacity: 1;
                        }
                    }
                    &.image_3 {
                        transform: translate(-42.5%, -57.5%);
                        rotate: 16deg;
                        z-index: 20;
                        opacity: 0;
                        transition: .2s ease-in;
                        &.show {
                            opacity: 1;
                        }
                    }
                    &.image_4 {
                        transform: translate(-40%, -65%);
                        rotate: 24deg;
                        z-index: 10;
                    }
                }
            }
        }
    }
}

@keyframes gradient-morphing {
    from {
        transform: translate(-40%, -32%);
    }
    to {
        transform: translate(40%, -28%)
    }
}

@keyframes gradient-left-showup {
    from {
        //transform: translate(-35%, 100%);
        transform: translate(-35%, -54%);
    }
    to {
        //transform: translate(-35%, 100%);
        transform: translate(-35%, -29%);
    }
}

@keyframes gradient-right-showup {
    from {
        transform: translate(35%, -54%);
    }
    to {
        transform: translate(35%, -29%);
    }
}

@media screen and (max-width: 1550px) {
    .introduction_section {
        padding-bottom: 10vh;
        .heading {
            .images_wrapper {
                margin-left: 6.25rem;
            }
            h2 {
                font-size: 4.25rem;
            }
        }
        .subheading p {
            font-size: 4rem;
        }
    }
}

@media screen and (max-width: 1450px) {
    .introduction_section {
        padding-bottom: 10vh;
        .heading .images_wrapper {
            margin-left: 6.25rem;
        }
    }
}

@media screen and (max-width: 1370px) {
    .introduction_section .heading h2 {
        font-size: 4rem;
    }
    .introduction_section .subheading p {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 1300px) {
    .introduction_section .heading h2 {
        font-size: 3.75rem;
    }
    .introduction_section .subheading p {
        font-size: 3.1rem;
    }
}